Pandas kütüphanesinin içerdiği fonksiyonlardan faydalanarak bir Veri Çerçevesini detaylı inceleyelim.

Bir sözlük yapısı oluşturalım. Bu yapıdaki key değerleri sütun isimleri olmaktadır.

In [1]:
import pandas as pd

In [2]:
veri = {"isim":["x","Y","Z","W"],"yas":[38,24,27,30],"tutulan takim":["A","B","C","D"],"maas":[5000,3150,3750,4000]}

Oluşturduğumuz veri isimli sözlük yapısını kullanarak df isimli bir veri çerçevesi oluşturalım.

In [3]:
df = pd.DataFrame(veri)

In [4]:
df

  isim  yas tutulan takim  maas
0    x   38             A  5000
1    Y   24             B  3150
2    Z   27             C  3750
3    W   30             D  4000

df isimli veri çerçevesinin boyutuna bakalım.

In [5]:
df.shape

(4, 4)

shape metodunun çıktısından da anlaşılabileceği üzere df isimli veri çerçevesi 4 satır ve 4 sütundan oluşmaktadır.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   isim           4 non-null      object
 1   yas            4 non-null      int64
 2   tutulan takim  4 non-null      object
 3   maas           4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

info metodu ile veri çerçevesi hakkında çeşitli bilgilere erişilmektedir. Her bir sütun içerisindeki null değer sayısını, sütun içerisinde bulunan değerlerin veri tipini, veri setinde bulunan sütunların veri tiplerinden kaç tane olduğuna dair toplam sayı, sütun isimleri gibi bilgiler info metodu ile elde edilebilmektedir. 

Çok fazla sample'den oluşan veri setlerinde, tüm verileri görüntüleyebilmemiz pek mümkün değildir. Dolayısıyla head() metodu ile default olarak ilk 5 satır görüntülenebilmektedir. Parametre olarak bir sayı verilmesi durumunda ise, belirlenen sayı kadar satır görüntülenebilmektedir.

In [8]:
df.head()

  isim  yas tutulan takim  maas
0    x   38             A  5000
1    Y   24             B  3150
2    Z   27             C  3750
3    W   30             D  4000

Veri setinde bulunan sütun isimlerini görüntüleyebilmek için .columns metodu kullanılabilir.

In [9]:
df.columns

Index(['isim', 'yas', 'tutulan takim', 'maas'], dtype='object')

Veri setinde bulunan satır isimlerini görüntüleyebilmek için .index metodu kullanılabilir.

In [10]:
df.index

RangeIndex(start=0, stop=4, step=1)

Çıktıya bakıldığında satır isimlendirmesinde sayılar görülmektedir. Bu isimleri değiştirebilmemiz mümkündür.

In [11]:
yeni_satir_isimleri = ["satir1","satir2","satir3","satir4"]

yeni_satir_isimleri listesinde satırlara vermek istediğimiz isimleri depoladık.Veri çerçevesinin index isimli özelliğine bu yeni isimleri eşitlemeliyiz. Böylelikle yeni satır isimleri veri çerçevesine aktarılacaktır.

In [13]:
df.index = yeni_satir_isimleri

In [14]:
df

       isim  yas tutulan takim  maas
satir1    x   38             A  5000
satir2    Y   24             B  3150
satir3    Z   27             C  3750
satir4    W   30             D  4000

In [15]:
df.index

Index(['satir1', 'satir2', 'satir3', 'satir4'], dtype='object')

Verideki istediğimiz bölgelere temelde iki yöntem ile erişebiliriz. 

    1. .iloc[]
    
    2. .loc[]
    
iloc[], sayılar ile kullanılmaktadır. loc[] ise stringler ile kullanılmaktadır.

satir1 ve satir3 isimli satırların isim ve maas sütunlarına erişelim.

In [16]:
df.iloc[[0,2],[0,3]]

       isim  maas
satir1    x  5000
satir3    Z  3750

Aynı işlemi loc yöntemi ile gerçekleştirelim.

In [17]:
df.loc[["satir1","satir3"],["isim","maas"]]

       isim  maas
satir1    x  5000
satir3    Z  3750

iloc yöntemi ile tutulan takım sütunundaki tüm verileri alalım.

In [18]:
df.iloc[:,2]

satir1    A
satir2    B
satir3    C
satir4    D
Name: tutulan takim, dtype: object

satir2 isimli satırın tüm sütun değerlerini alalım.

In [21]:
df.iloc[1,:]

isim                Y
yas                24
tutulan takim       B
maas             3150
Name: satir2, dtype: object

1. ve son sütun indeksi arasındaki tüm değerleri alalım.

In [22]:
df.iloc[:,1:]

        yas tutulan takim  maas
satir1   38             A  5000
satir2   24             B  3150
satir3   27             C  3750
satir4   30             D  4000

Veri setindeki verilerin temel istatistiksel detaylarını describe metodu ile inceleyelim.

In [23]:
df.describe()

             yas         maas
count   4.000000     4.000000
mean   29.750000  3975.000000
std     6.020797   770.822072
min    24.000000  3150.000000
25%    26.250000  3600.000000
50%    28.500000  3875.000000
75%    32.000000  4250.000000
max    38.000000  5000.000000

Dikkatinizi çekmek isterim ki, istatistiksel sonuçlar sadece sayısal değer içeren sütunlar için elde edilecektir. Çıktıdaki satırlar incelendiğinde, her bir sütun için eleman sayısı, ortalama değer, standart sapma, en küçük değer ve en büyük değerler arasındaki dağılım gözükmektedir.